<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MavenSuits">
    <listeners>
        <listener class-name="com.evy.framework.listeners.ListenerManager"/>
    </listeners>
    <test  name="MavenJenksOps" parallel="classes">
        <classes>
            <class name="com.evy.test.LoginTest"/>
            <class name="com.evy.test.RegistrationTest"/>
            <class name="com.evy.test.ProductDropdownTest"/>
            <class name="com.evy.test.ProductListingPageTests"/>
            <class name="com.evy.test.ProductPageTest"/>
            <class name="com.evy.test.EndToEndTest"/>
        </classes>
    </test>
</suite>